body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 10px 0;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  cursor: pointer;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.wrapper-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  color: #ffffff;

  background-color: #f3f7f8;
}

.header-user-menu {
  width: 100%;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.header-logo {
  width: 110px;
  padding: 0 55px;

  background-color: #ee3643;
  -webkit-box-shadow: 0px 5px 0px 0px #b52933;
          box-shadow: 0px 5px 0px 0px #b52933;
}

.logo {
  padding-top: 13px;
  padding-bottom: 7px;
}

.inner-header-logo:hover {
  background-color: #ca2c37;
}

.inner-header-logo:active {
  background-color: #ba2732;
}

.header-search {
  position: relative;

  width: 270px;
}

.header-search::after {
  position: absolute;
  left: 17px;
  top: 12px;

  width: 18px;
  height: 18px;

  content: "";
   
  background: url("../img/icon-search.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-search-input {
  width: 100%;
  padding: 12px 10px 12px 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font: inherit;
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.header-search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.header-search-input:hover {
  background: #212a3a url("../img/icon-search.svg") no-repeat 17px 12px;
}

.header-search-input:focus {
  color: #000000;

  background: #ffffff url("../img/icon-search-red.svg") no-repeat 17px 12px;
  outline: none;
}

.header-btn-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-btn-bookmarks {
  position: relative;

  display: block;
  padding: 12px 29px 12px 44px;

  color: #ffffff;
}

.header-btn-cart {
  position: relative;

  display: block;
  padding: 12px 26px 12px 48px;

  color: #ffffff;
}

.header-btn-bookmarks::after {
  position: absolute;
  left: 17px;
  top: 12px;

  content: "";
  
  width: 18px;
  height: 18px;
  
  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-btn-cart::after {
  position: absolute;
  left: 15px;
  top: 12px;

  content: "";
  
  width: 18px;
  height: 18px;
  
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-btn-bookmarks:hover,
.header-btn-cart:hover {
  background-color: #212a3a;
}

.header-btn-bookmarks:active,
.header-btn-cart:active{
  background-color: #161d29;
  opacity: 0.6;
}

.header-btn-bookmarks:hover::after,
.header-btn-cart:hover::after {
  opacity: 1;
}

.header-btn-bookmarks:active::after,
.header-btn-cart:active::after {
  opacity: 0.3;
}

.header-btn-order {
  display: block;
  padding: 12px 22px 12px 20px;

  color: #ffffff;

  background-color: #63a63e;
}

.header-btn-order:hover {
  background-color: #5fbb2d;
}

.header-btn-order:active {
  background-color: #518534;
  opacity: 0.5;
}

.header-bottom {
  padding-top: 47px;
  padding-bottom: 65px;
}

.header-title {
  width: 197px;
  margin: 3px 71px 0 52px;

  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.header-contacts,
.header-btn-login,
.nav {
  list-style: none;
}

.header-contacts {
  width: 270px;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;

  text-align: center;  
}

.header-tel {
  position: relative;

  display: block;
  margin-bottom: 3px;
  padding: 10px 49px 9px 70px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-tel::after {
  position: absolute;
  left: 12px;
  top: 9px;

  content: "";
  
  width: 19px;
  height: 19px;
  
  background: url("../img/icon-phone.svg") no-repeat 0 0;
}

.header-adress {
  font-size: 14px;
  color: #32425c;
}

.header-btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 69px;
  padding: 0;
}

.header-btn-login a {
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-sign-in {
  position: relative;
  padding: 12px 27px 12px 46px;
}

.header-sign-in {
  margin-right: 10px;
}

.header-sign-in::after {
  position: absolute;
  left: 15px;
  top: 13px;

  content: "";
  
  width: 20px;
  height: 17px;
  
  background: url("../img/icon-login.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-sign-in:hover::after {
  opacity: 1;
}

.header-sign-in:active::after {
  opacity: 0.3;
}

.header-sign-up {
  padding: 12px 25px 12px 23px;
}

.header-btn-login a:hover {
  color: #ee3643;
}

.header-btn-login a:active,
.header-profile-authorization a:active {
  color: #000000;

  opacity: 0.3;
}

.header-profile-authorization {
  margin-left: 51px;
}

.header-profile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 7px 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  list-style: none;

  background-color: #ffffff;
}

.btn-profile {
  position: relative;

  display: block;
  padding: 12px 0 12px 47px;

  color: #000000;
}

.btn-profile::after {
  position: absolute;
  top: 13px;
  left: 13px;

  content: "";

  width: 20px;
  height: 17px;

  background: url("../img/user-icon.svg") no-repeat 0 0;
  opacity: 0.3;
}

.btn-profile:hover::after,
.btn-profile-sign-out:hover {
  opacity: 1;
}

.profile-sign-out {
  padding: 14px 10px 14px 36px;
}

.btn-profile-sign-out {
  display: block;

  width: 20px;
  height: 17px;

  background: url("../img/icon-authorization.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-profile-info li:nth-child(1) {
  list-style: none;
}

.header-profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 18px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.header-profile-info li:not(:nth-last-child(1)) {
  margin-right: 30px;
}

.header-profile-info a {
  color: #32425c;
  text-decoration: underline;  
}

.header-profile-info a:hover {
  color: #ee3643;
}

.header-profile-info a:active {
  color: #32425c;

  opacity: 0.3;
}

.main-nav {
  font-size: 17px;
  line-height: 17px; 
  
  background-color: #32425c;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0 22px;
}

.nav a {
  display: block;
  padding: 20px 31px 23px 30px;

  color: #ffffff;
}

.nav a:hover {
  background-color: #293449;
}

.nav a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.main {
  padding: 53px 0 85px 0;
}

.main p {
  font-family: 'PT Sans';
}

.categories {
  margin-bottom: 20px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-block {
  position: relative;

  width: 300px;
  height: 123px;
  margin-right: 20px;
}

.categories-block:nth-last-of-type(1) {
  margin-right: 0;
}

.categories-materials {
  background: #ffbf47 url("../img/icon-paint-bucket.svg") no-repeat 213px 31px;
}

.categories-tools {
  background: #3bbce3 url("../img/icon-screwdriver.svg") no-repeat 197px 33px;
}

.categories-technics {
  background: #dc91d8 url("../img/icon-tractor.svg") no-repeat 191px 31px;
}

.categories-title,
.advantages-title {
  margin: 21px 0 0 22px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.categories-link,
.advantages-link {
  display: inline-block;
  width: 135px;
  margin: 12px 0 0 23px;
  padding: 10px 0;

  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff; 

  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.categories-link:hover,
.advantages-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-link:active,
.advantages-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.categories-slider {
  position: relative;

  margin-bottom: 53px;
  padding: 22px 25px;
  width: 570px;

  color: #ffffff;

  background: #af9e89 url("../img/man-perforator.jpg") no-repeat top center;
}

.btn-slider-perf {
  position: absolute;
  left: 25px;
  top: 114px;

  width: 22px;
  height: 40px;

  font-size: 0;
  
  background: url("../img/icon-left.svg") no-repeat 0 0;

  cursor: pointer;
}

.btn-slider-screwdriver {
  position: absolute;
  right: 20px;
  top: 114px;

  width: 22px;
  height: 40px;

  font-size: 0;
  
  background: url("../img/icon-right.svg") no-repeat 0 0;

  cursor: pointer;
}

.btn-slider-perf::before {
  position: absolute;
  left: 270px;
  top: 106px;

  content: "";
  
  width: 6px;
  height: 6px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}

.btn-slider-screwdriver::before {
  position: absolute;
  right: 275px;
  top: 106px;

  content: "";
  
  width: 6px;
  height: 6px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}

.category-perforators:checked ~ .categories-slider .btn-slider-perf::before,
.category-screwdriver:checked ~ .categories-slider .btn-slider-screwdriver::before {
  background-color: red;
}

.categories-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-slider-title {
  margin: 0 0 3px 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-item p {
  margin: 0 0 121px 0;

  font-family: "Cuprum";
  font-size: 18px;
}

.btn-slider {
  padding: 10px 48px;

  border-radius: 2px;
}

.slider-item {
  display: none;
}

.category-perforators:checked ~ .categories-slider .slide-perforators,
.category-screwdriver:checked ~ .categories-slider .slide-screwdriver {
  display: block;
}

.category-perforators:checked ~ .categories-slider {
  background: #af9e89 url("../img/man-perforator.jpg") no-repeat top center;
}

.category-screwdriver:checked ~ .categories-slider {
  background: #af9e89 url("../img/man-screwdriver.jpg") no-repeat top center;
}

.categories-slider::before,
.categories-slider::after {
  content: "";

  visibility: hidden;
}

.categories-slider::before {
  background: #af9e89 url("../img/man-perforator.jpg") no-repeat top center;
}

.categories-slider::after {
  background: #af9e89 url("../img/man-screwdriver.jpg") no-repeat top center;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-block {
  position: relative;

  width: 300px;
  height: 123px;
  margin: 0 0 20px 20px;
}

.advantage-discount {
  background: #8ed78f url("../img/icon-full-cart.svg") no-repeat 196px 26px;
} 

.advantage-delivery {
  background: #ffc047 url("../img/icon-delivery-car.svg") no-repeat 191px 33px;
}

.popular-products {
  margin-bottom: 22px;
}
.block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 890px;
  margin-bottom: 20px;
  padding: 25px;

  background-color: #f9f5f0;
}

.index-title {
  margin: 0 0 26px 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400; 
  text-transform: uppercase;
}

.blue-title {
  margin: 5px 0 0 3px;

  color: #32425c;
}

.block-btn {
  width: 252px;
}

.popular-manufacturer {
  margin-bottom: 85px;
}

.manufacturer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 218px;
  height: 144px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.manufacturer-item:nth-last-of-type(1),
.manufacturer-item:nth-last-of-type(2),
.manufacturer-item:nth-last-of-type(3),
.manufacturer-item:nth-last-of-type(4) {
  margin-bottom: 0;
}

.manufacturer-item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.services {
  margin-bottom: 79px;
  padding: 64px 0 100px 0;

  background-color: #f4f8f9;
}

.services-description {
  margin-bottom: 70px;
  width: 400px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-slider-menu {
  position: relative;

  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider-menu::after {
  position: absolute;
  left: 230px;
  top: -45px;

  content: "";

  width: 10px;
  height: 279px;

  background: url("../img/shadow.png") no-repeat 0 0;
}

.service-slide {
  display: block;
  padding: 15px 21px 16px 21px;
  width: 198px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;

  cursor: pointer;
}

.services-slider-list {
  position: relative;

  margin: 0;
  padding: 0;
  width: 620px;

  list-style: none;
}

.services-slider-list::after {
  position: absolute;
  right: 0px;
  top: 0px;

  content: "";

  width: 468px;
  height: 261px;

  background: url("../img/car.png") no-repeat 0 0;
}

.services-item-title {
  margin: 0 0 22px 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.services-item-descrition {
  margin: 0;
}

.description-delivery {
  width: 275px;
}

.descrition-guarantee {
  width: 374px;
}

.descrition-credit {
  margin-bottom: 25px;
  width: 279px;
}

.services-slider-item {
  display: none;
}

.service-delivery:checked ~ .services-slider-list .slider-item-delivery,
.service-guarantee:checked ~ .services-slider-list .slider-item-guarantee,
.service-credit:checked ~ .services-slider-list .slider-item-credit {
  display: block;
}

.service-delivery:checked ~ .services-slider-menu .slide-delivery,
.service-guarantee:checked ~ .services-slider-menu .slide-guarantee,
.service-credit:checked ~ .services-slider-menu .slide-credit {
  color: #32425c;

  background-color: #ffffff;
}

.service-delivery:checked ~ .services-slider-list::after {
  position: absolute;
  right: 0px;
  top: 22px;

  content: "";

  width: 468px;
  height: 261px;

  background: url("../img/car.png") no-repeat 0 0;
}

.service-guarantee:checked ~ .services-slider-list::after {
  position: absolute;
  right: -87px;
  top: 0px;

  content: "";

  width: 389px;
  height: 283px;

  background: url("../img/guarantee.png") no-repeat 0 0;
}

.service-credit:checked ~ .services-slider-list::after {
  position: absolute;
  right: -10px;
  top: -2px;

  content: "";

  width: 465px;
  height: 285px;

  background: url("../img/credit.png") no-repeat 0 0;
}

.btn-credit {
  width: 195px;
}

.main-about-us {
  width: 520px;
  margin-right: 120px;
}

.main-about-us p {
  margin: 0;
}

.main-about-us .first-description {
  margin-bottom: 24px;
}

.main-about-us .second-description {
  width: 390px;
  margin-bottom: 21px;
}

.contacts-description {
  width: 180px;
  margin: 0 0 31px 0;
}

.transport-company-list {
  margin: 0 0 37px 35px;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.transport-company-list li {
  position: relative;

  margin-bottom: 20px;
}

.transport-company-list li:nth-last-child(1) {
  margin-bottom: 0;
}

.transport-company-list li::after {
  position: absolute;
  left: -35px;
  top: 8px;

  content: "";
  
  width: 25px;
  height: 2px;
  
  background-color: #ee3643;
}

.btn-about-us {
  width: 220px;
}

.main-contacts {
  width: 300px;
}

.map {
  background-color: #dfddd9;
}

.main-contacts .btn-container {
  display: block;
  margin-top: 32px;
}

.inner-main {
  padding-top: 15px;

  font-family: "PT Sans";
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px 0;
  padding: 0;

  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs li:not(:nth-last-child(1)) {
  margin-right: 40px;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:nth-last-child(1))::after {
 position: absolute;
 top: 4px;
 right: -25px;
 
 content: "";
 
 width: 8px;
 height: 2px;
 
 background-color: #c1c6ce;
 -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
         transform: rotate(45deg);
}

.breadcrumbs li:not(:nth-last-child(1))::before {
 position: absolute;
 bottom: 7px;
 right: -25px;
 
 content: "";
 
 width: 8px;
 height: 2px;
 
 background-color: #c1c6ce;
 -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
         transform: rotate(-45deg);
}

.breadcrumb-main-item {
  display: block;
  margin-top: 1px;
  width: 14px;
  height: 12px;

  background: url("../img/icon-home.svg") no-repeat 0 0;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  text-decoration: underline;
  color: #ee3643;
}

.catalog {
  margin-bottom: 60px;
}

.inner-title {
  padding: 30px 0 30px 28px;
  margin: 0 0 20px 0;

  font-family: "Cuprum";
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  width: 220px;
  margin-right: 20px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-title {
  margin: 0 0 13px 0;
  padding: 10px 0 10px 19px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f7f3ec;
}

.filters-group {
  margin: 0 0 15px 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters-group legend {
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-price-range {
  padding: 34px 20px 26px 20px;
  margin-bottom: 10px;

  background-color: #f7f3ec;  
}

.range-controls {
  position: relative;

  padding: 39px 20px;
  margin-bottom: 10px;

  background-color: #f7f3ec;  
}

.scale {
  width: 180px;
  height: 2px;
  margin: 0 auto;

  background-color: #d7dcde;
}

.bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 29px;
  
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #1c4f80;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 160px;
}

.filter-price-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.filter-output {
  width: 55px;
  padding: 10px 20px;

  text-align: center;

  background-color: #f7f3ec; 
}

.filter-price-value p {
  margin: 0;
  padding: 10px;

  background-color: #ffffff;
}

.last-list-filters {
  margin-bottom: 75px;

  border: none;
}

.filter-checkbox {
  margin: 0 0 20px 0;
  padding: 0 24px;

  list-style: none;
}

.filter-radio {
  margin: 0;
  padding: 0 24px;

  list-style: none;
}

.filter-checkbox li,
.filter-radio li {
  padding: 4px 10px;
}

.filter-checkbox li:not(:nth-last-child(1)),
.filter-radio li:not(:nth-last-child(1)) {
  margin-bottom: 12px; 
}

.filter-checkbox label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  position: absolute;
  left: -34px;
  top: -1px;

  content: "";

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.3;
} 

.filter-input-checkbox:checked + label::before {
  display: none;
} 

.filter-input-checkbox:checked + label::after {
  position: absolute;
  left: -34px;
  top: -1px;

  content: "";

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  opacity: 0.3;
} 

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover + label::after {
  opacity: 0.4;
}

.filter-input-checkbox:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.filter-radio label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-radio + label::before {
  position: absolute;
  left: -34px;
  top: -3px;

  content: "";

  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
} 

.filter-input-radio:checked + label::after {
  position: absolute;
  left: -26px;
  top: 5px;

  content: "";

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
} 

.filter-input-radio:hover + label::before {
  border: 4px solid #b5b5b5;
}

.filter-input-radio:hover + label::after {
  background-color: #b5b5b5;
}

.filter-input-radio:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.btn-filter {
  padding: 10px 38px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: transparent;
}

.btn-filter:hover {
  border-color: #bdc6ca;  
}

.btn-filter:active {
  border-color: #ee3643;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-sorting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 664px;
  padding: 10px 18px;
  margin-bottom: 20px;

  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  
  background-color: #f7f3ec;
}

.sorting-title {
  margin: 0 140px 0 0;

  font-size: 13px;
  font-weight: 400; 
}

.sorting-list,
.arrows-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-list {
  width: 354px;
  margin-right: 47px;
}

.item-sorting-current  a {
  color: #ee3643;
}

.item-sorting a {
  color: #000000;

  border-bottom: 1px dotted #ee3643; 
}

.item-sorting span {
  opacity: 0.3;
}

.item-sorting span:hover,
.item-sorting-current a:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643; 
  opacity: 1;
}

.item-sorting span:active,
.item-sorting a:active,
.item-sorting-current a:active {
  color: #ee3643;

  border: none;
}

.arrows-sorting {
  padding-top: 3px;
}

.sorting-arrow-top {
  display: block;
  margin-right: 22px;

  border: 10px solid #c5c5c5;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: 0;
}

.sorting-arrow-bottom {
  display: block;

  border: 10px solid #c5c5c5;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-width: 0;
}

.sorting-current {
  display: block;
  margin-right: 22px;

  border: 10px solid #ee3643;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: 0;
}

.list-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
  margin: 0 0 52px 0;
  padding: 0;

  list-style: none;
}

.list-products li:nth-child(3n) {
  margin-right: 0px;
}

.index-list-poducts {
  width: 940px;
  margin-bottom: 0;

  font-family: "PT Sans";
}

.index-list-poducts li:nth-child(3n) {
  margin-right: 20px;
}

.index-list-poducts li:nth-child(4n) {
  margin-right: 0px;
}

.product-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 218px;
  margin: 0 20px 20px 0;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;

  border: 1px solid #e5e5e5;
}

.product-item-index {
  margin-bottom: 0;
}

.product-item:nth-last-of-type(1),
.product-item:nth-last-of-type(2),
.product-item:nth-last-of-type(3) {
  margin-bottom: 0;
}

.product-item-image {
  margin-bottom: 7px;
}

.product-title {
  width: 80%;
  margin: 0 0 5px 0;
  padding: 0 30px;

  text-align: center;
}

.product-title a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-btn-actions {
  position: absolute;
  top: 0;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 218px;
  height: 88px;
  padding: 42px 0;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  
  background-color: rgba(255,255,255,1);
}

.old-price {
  margin: 0 0 10px 0;
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  font-weight: 700; 
}

.price {
  position: relative;

  width: 75px;
  margin: auto auto 20px auto;
  padding: 10px 30px;

  text-align: center;
  font-size: 17px;
  line-height: 18px; 
  font-weight: 700;
  color: white;

  background-color: #ee3643;
  border-radius: 3px;
}

.price:after {
  position: absolute;
  top: 0;
  right: -25px;

  content: "";
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.product-btn-actions {
  display: none;
}

.product-item:hover .product-btn-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
  
  width: 60px;
  height: 60px;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.flag-new-categories {
  top: 0px;
  right: 0px;
}

.product-btn-buy {
  position: relative;

  margin-bottom: 11px;
  padding: 10px 47px 7px;
  cursor: pointer;

  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #63a63e;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 0px 0px #367315;
          box-shadow: 0px 3px 0px 0px #367315;
  cursor: pointer;
}

.product-btn-buy::after {
  position: absolute;
  left: 14px;
  top: 11px;

  content: "";
  
  width: 15px;
  height: 15px;
  
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.product-btn-bookmarks {
  padding: 8px 31px 6px;

  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;
  text-align: center;

  background-color: transparent;
  border-radius: 4px;
  border: 3px solid #63a63e;
  cursor: pointer;
}

.product-btn-buy:hover {
  background-color: #5fbb2d;
}

.product-btn-buy:active {
  background-color: #518534;
}

.product-item:hover { 
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5); 
          box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.product-btn-buy:hover::after,
.product-btn-buy:active::after {
  opacity: 1;
}

.product-btn-bookmarks:hover {
  border: 3px solid #32425c;
}

.product-btn-bookmarks:active {
  border: 3px solid #c1c6ce;
  opacity: 0.3;
}
.btn-users-add {
  background-color: #ee3643;
}

.list-pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn-pag {
  display: block;
  padding: 8px 14px;
  margin-right: 10px;

  color: #000000;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
}

.btn-pag-current {
  padding: 10px 16px;

  color: #ffffff;
  
  border: none;
  background-color: #ee3643;
}

.btn-pag-next {
  padding: 8px 31px;
  margin-right: 0;
}

.btn-pag:hover {
  border-color: #bdc6ca;  
}

.btn-pag:active {
  border-color: #ee3643;
}

.category-description {
  padding: 64px 0 68px 0;

  background-color: #f2f6f8;
}

.category-description h2 {
  margin: 0 0 25px 0;

  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.paragraph-descrition {
  margin: 0;
}

.footer {
  color: #ffffff;
  font-size: 18px;

  background-color: #32425c;
}

.footer-top {
  margin-bottom: 50px;
}

.footer p {
  margin: 0;
}

.footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-logo {
  margin-bottom: 26px;

  -webkit-box-shadow: 0px 5px 0px 0px #b52933;

          box-shadow: 0px 5px 0px 0px #b52933;
}

.footer-logo-contacts {
  width: 330px;
  margin-right: 60px;
}

.footer-site-nav a {
  color: #ffffff;
}

.footer-products-nav a {
  color: #ffd180;
}

.footer-site-nav a:hover,
.footer-products-nav a:hover {
  text-decoration: underline;
}

.footer-site-nav a:active,
.footer-products-nav a:active {
  opacity: 0.5;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  margin-top: 40px;
}

.footer-nav .footer-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 31px;
}

.footer-nav .footer-products-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 25px;
}

.footer-bottom {
  padding: 35px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .footer-copyright {
  width: 227px;
  margin-right: 165px;
}

.footer-bottom .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 128px;
  margin-right: 120px;

  text-align: center;
}

.footer-social,
.site-developer {
  list-style: none;
}

.footer-social a {
  margin: 0 4px 4px 0;

  color: #ffffff;

  background-color: #212a3a;
}

.footer-social li:nth-child(3n) a {
  margin-right: 0;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.footer-btn-vk {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  border-radius: 50%
}

.footer-btn-vk::after {
  position: absolute;
  left: 7px;
  top: 13px;

  content: "";
  
  width: 26px;
  height: 15px;
  
  background: url("../img/icon-footer-vk.svg") no-repeat 0 0;
}

.footer-btn-fb {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  border-radius: 50%
}

.footer-btn-fb::after {
  position: absolute;
  left: 14px;
  top: 9px;

  content: "";
  
  width: 12px;
  height: 22px;
  
  background: url("../img/icon-footer-fb.svg") no-repeat 0 0;
}

.footer-btn-instagram {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  border-radius: 50%
}

.footer-btn-instagram::after {
  position: absolute;
  left: 10px;
  top: 10px;

  content: "";
  
  width: 21px;
  height: 21px;
  
  background: url("../img/icon-footer-insta.svg") no-repeat 0 0;
}

.site-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-developer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
}

.site-developer li:nth-last-child(1) {
  margin-right: 0;
}

.site-developer a {
  color: #ffd180;
}

.site-developer a:hover {
  text-decoration: underline;
}

.site-developer a:active {
  color: #ee3643;
  text-decoration: none;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  z-index: 3;

  font-size: 18px;
  line-height: 18px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-write-us,
.modal-cart,
.modal-bookmark {
  top: 120px;
  left: 50%;

  display: none;
  width: 620px;
  margin-left: -310px;

  border-top: 7px solid #ff5358;
}

.modal-map {
  top: 120px;
  left: 50%;

  display: none;
  width: 940px;
  height: 446px;
  margin-left: -470px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}


.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-write-us input {
  border: 2px solid #dee3e4;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 460px;
  margin: 0 auto 35px auto;
  padding-top: 50px;
}

.modal-item {
  width: 220px;
  margin: 0 20px 20px 0;
  padding: 0;
}

.modal-item input {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;

  font: inherit;
  font-family: 'PT Sans';
  font-size: 13px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #dee3e4;
}

.modal-item:nth-child(2) {
  margin-right: 0;
}

.modal-item-textarea {
  width: 100%;
  margin: 0;
}

.modal-item-textarea textarea {
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;

  font: inherit;
  font-family: 'PT Sans';
  font-size: 13px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #dee3e4;
}

.modal-write-us-footer {
  padding: 37px 0;

  background-color: #f4f4f4;
}

.btn-wrapper {
  width: 100%;
}

.modal-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  margin: 0 auto;
}

.modal-cart-heading,
.modal-bookmark-heading {
  padding: 68px 0 68px 50px;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.modal-cart-heading::after,
.modal-bookmark-heading::after {
  position: absolute;
  left: 80px;
  top: 50px;

  content: "";
  
  width: 66px;
  height: 66px;
  
  background: url("../img/cart-item-add.svg") no-repeat 0 0;
}

.modal-btn-order,
.modal-btn-bookmark {
  width: 220px;
  margin-right: 20px;
}

.btn-next {
  width: 220px;

  color: #000000;
  
  background-color: #ffffff;
}

.btn-next:hover {
  color: #ff5358;

  background-color: #ffffff;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 2;

  width: 23px;
  height: 23px;

  font-size: 0;

  border: 0;
  background: transparent url("../img/icon-red-chest.svg") no-repeat 0 0;
  cursor: pointer;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-show-overlay {
  display: block;
}