/* БАЗОВЫЕ */

body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* КНОПКИ */

.btn {
  font: inherit;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn-filter {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  background-color: transparent;
}

.btn-filter:hover {
  border-color: #bdc6ca;  
}

.btn-filter:active {
  border-color: #ee3643;
}

/* ХЕДЕР */

.header {
  margin-bottom: 60px;

  color: #ffffff;

  background-color: #f3f7f8;
}

.header-catalog {
  margin-bottom: 20px;
}

.header-user-menu {
  width: 100%;
  margin-bottom: 45px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.wrapper {
  width: 940px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 10px;
}

.header-logo {
  margin: 0;
  padding: 0;
  width: 110px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.inner-header-logo:hover {
  background-color: #ca2c37;
}

.inner-header-logo:active {
  background-color: #ba2732;
}

.header-search {
  position: relative;
  width: 270px;
  padding: 12px 0;
}

.header-search input[type="search"] {
  font: inherit;

  margin: 0;
  padding: 0;
  margin-left: 50px;
  align-items: center;

  color: #ffffff;
  background-color: #293449;
  border: none;
}

.header-search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.header-search:hover input[type="search"],
.header-search:hover {
  color: #ffffff;

  background-color: #212a3a;
}

.header-search input[type="search"]:focus {
  color: #000000;

  background-color: #ffffff;
}

.header-search::after {
  position: absolute;
  left: 19px;
  top: 12px;

  content: "";
  
  width: 18px;
  height: 18px;
  
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-search:hover::after {
  opacity: 1;
}

/*Не знаю как сделать всю форму в белом цвете при фокусе инпута и псевдоэлемент красным*/

.header-btn-users {
  display: flex;
  margin: 0;
  padding: 0;
  width: 450px;

  list-style: none;
}

.header-btn-bookmarks a,
.header-btn-cart a {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;
  padding-right: 28px;
  color: #ffffff;
}

.header-btn-users a:hover {
  background-color: #212a3a;
}

.header-btn-users a:active {
  opacity: 0.6;
  background-color: #161d29;
}

.header-btn-bookmarks a::after {
  position: absolute;
  left: 14px;
  top: 12px;

  content: "";
  
  width: 18px;
  height: 18px;
  
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-btn-bookmarks a:hover::after {
  opacity: 1;
}

.header-btn-bookmarks a:active::after {
  opacity: 0.3;
}

.header-btn-cart a::after {
  position: absolute;
  left: 14px;
  top: 12px;

  content: "";
  
  width: 18px;
  height: 18px;
  
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-btn-order a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;

  color: #ffffff;

  background-color: #63a63e;
}

.header-btn-order a:hover {
  background-color: #5fbb2d;
}

.header-btn-order a:active {
  background-color: #518534;
  opacity: 0.5;
}

.cart-full a {
  background-color: #ee3643;
}

.header-title {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  margin-right: 70px;
  width: 195px;

  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.header-contacts,
.header-btn-login,
.nav {
  list-style: none;
}

.header-contacts {
  margin: 0;
  padding: 0;
  width: 270px;
  margin-right: 70px;

  text-align: center;  
}

.header-tel {
  font-size: 21px;
  line-height: 21px;

  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 70px;

  border: 3px solid #ffffff;
}

.header-tel a {
  position: relative;
  color: #ee3643;
}

.header-tel a::after {
  position: absolute;
  left: -58px;
  top: 2px;

  content: "";
  
  width: 19px;
  height: 19px;
  
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-btn-login {
  margin: 0;
  padding: 0;
  display: flex;
}

.header-btn-login a,
.btn-profile {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-sign-in a {
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 48px;
}

.header-sign-up a {
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;
}

.header-btn-login a:hover {
  color: #ee3643;
}

.header-btn-login a:active,
.header-profile-authorization a:active {
  color: #000000;
  opacity: 0.3;
}

.header-sign-in {
  margin-right: 10px;
}

.header-profile-info li:nth-child(1) {
  list-style: none;
}

.header-profile-info {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.header-profile-info a {
  color: #32425c;
  text-decoration: underline;  
}

.header-profile-info a:hover {
  color: #ee3643;
}

.header-profile-info a:active {
  color: #32425c;
  opacity: 0.3;
}

.main-nav {
  width: 835px;
  padding-left: 50px;
  padding-right: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 65px;

  font-size: 17px;
  line-height: 17px; 
  
  background-color: #32425c;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav li {
  text-align: center; 
}

.nav a {
  color: #ffffff;

  background-color: #32425c;
}

.nav a:hover {
  color: #ffffff;

  background-color: #293449;
}

.nav a:active {
  color: #ffffff;
  opacity: 0.5;

  background-color: #1d2739;
}

/* MAIN */

.main p {
  font-family: 'PT Sans';
}

.main-about-us {
  width: 520px;
  margin-right: 120px;
}

.index-title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400; 
}

.main-about-us p {
  margin: 0;
  padding: 0;
}

.first-p {
  margin-bottom: 30px;
}

.second-p {
  width: 390px;
  margin-bottom: 20px;
}

.third-p {
  margin: 0;
  padding: 0;
  width: 180px;
  margin-bottom: 30px;
}

.transport-company-list {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.main-contacts {
  width: 300px;
}

.map {
  margin-bottom: 40px;
}

.inner-main {
  font-family: "PT Sans";
  color: #000000;

  background-color: #ffffff;
}

.catalog {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 60px;
}

.catalog-wrapper {
  display: flex;
}

.breadcrumbs {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}


.breadcrumbs a:hover,
.breadcrumbs a:active {
  text-decoration: underline;
  color: #ee3643;
}

.inner-title {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 20px;

  font-family: "Cuprum";
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  background-color: #f2f6f8;
}

.filters {
  width: 220px;
  margin-right: 20px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter-title {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 13px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f7f3ec;
}

.filters-group {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.last-list-filters {
  margin-bottom: 80px;

  border: none;
}


.filters-group legend {
  margin-bottom: 13px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-price-range {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;

  background-color: #f7f3ec;  
}

.filter-price-value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.filter-output {
  width: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;

  background-color: #f7f3ec; 
}

.filter-price-value p {
  margin: 0;
  padding: 10px;

  background-color: #ffffff;
}

.filter-checkbox {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  list-style: none;
}

.filter-radio {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.products {
  display: flex;
  flex-direction: column;
}

.catalog-sorting-container {
  display: flex;
  width: 700px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color: #f7f3ec;
}

.sorting-title {
  font-weight: 400; 
}

.sorting-list,
.arrows-sorting {
  list-style: none;
}

.item-sorting-current  a {
  color: #ee3643;
}

.item-sorting a {
  color: #000000;

  border-bottom: 1px dotted #ee3643; 
}

.item-sorting span {
  opacity: 0.3;
}

.item-sorting span:hover,
.item-sorting-current a:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643; 
  opacity: 1;
}

.item-sorting span:active,
.item-sorting a:active,
.item-sorting-current a:active {
  color: #ee3643;

  border: none;
}

.sorting-arrow a {
  color: #c5c5c5;  
}

.sorting-arrow a:hover {
  color: #000000;
}

.sorting-current a,
.sorting-arrow a:active {
  color: #ee3643; 
}

.list-products {
  margin: 0;
  padding: 0;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.product-title a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-item,
.product-item-hover {
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
  text-align: center;
}

.list-products li:nth-child(3n) {
  margin-right: 0px;
}

.product-item:hover,
.product-item-hover:hover { 
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  font-weight: 700; 
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;

  background-color: #ee3643; 
}

.product-btn-buy {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #63a63e;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 3px 0px 0px #367315;
}

.product-btn-buy:hover,
.product-btn-buy:focus {
  background-color: #5fbb2d;
}

.product-btn-buy:active {
  background-color: #518534;
  opacity: 0.5;
  box-shadow: none;
}

.catalog-product-hover {
  list-style: none;
}

.product-btn-bookmarks {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;
  text-align: center;

  background-color: transparent;
  border-radius: 2px;
  border: 3px solid #63a63e;
}

.product-btn-bookmarks:hover,
.product-btn-bookmarks:focus {
  border: 3px solid #32425c;
}

.product-btn-bookmarks:active {
  border: 3px solid #c1c6ce;
  opacity: 0.3;
}

.list-pag {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-pag a {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  background-color: transparent;
}

.btn-pag-current a {
  border: none;
  background-color: #ee3643;
}

.btn-pag a:hover {
  border-color: #bdc6ca;  
}

.btn-pag a:active {
  border-color: #ee3643;
}

.category-description {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f2f6f8;
}

.category-description h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.description-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* FOOTER */

.footer {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;

  background-color: #32425c;
}

.footer-top {
  margin-bottom: 50px;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer-nav ul {
  list-style: none;
}

.footer-logo {
  margin-bottom: 25px;

  box-shadow: 0px 5px 0px 0px #b52933;
}

.footer-logo-contacts {
  margin-right: 60px;
}

.footer-site-nav {
  display: flex;
  flex-direction: column;
}

.footer-site-nav a {
  color: #ffffff;
}

.footer-products-nav a {
  color: #ffd180;
}

.footer-site-nav a:hover,
.footer-products-nav a:hover {
  text-decoration: underline;
}

.footer-site-nav a:active,
.footer-products-nav a:active {
  opacity: 0.5;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 35px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .footer-copyright {
  margin-right: 160px;
}

.footer-social {
  margin-right: 120px;
  text-align: center;
}

.footer-social ul,
.site-developer {
  list-style: none;
}

.footer-social a {
  color: #ffffff;

  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.site-developer {
  text-align: left;
}

.site-developer a {
  color: #ffd180;
}

.site-developer a:hover {
  text-decoration: underline;
}

.site-developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/* МОДАЛЬНЫЕ ОКНА */

.modal-write-us {
  color: #000000;
  font-size: 18px;
  line-height: 18px;

  border-top: 7px solid #ff5358;
  background-color: #ffffff;
}

.modal-write-us input {
  border: 2px solid #dee3e4;
}

/*Тут тоже в плейсхолдер не понял как стиль добавить. В нете нашел такой способо, но он не заработал
*/.modal-write-us input::-webkit-input-placeholder,
.modal-write-us input:-moz-placeholder {
  color: red; /*Например*/
}








