/* БАЗОВЫЕ */

body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* КНОПКИ */

.btn {
  display: inline-block;
  font: inherit;

  padding: 10px 0;

/*  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
*/
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.main-contacts .btn-container {
  margin-top: 32px;
  display: block;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn-filter {
  padding: 10px 38px;
  cursor: pointer;

  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  background-color: transparent;
}

.btn-filter:hover {
  border-color: #bdc6ca;  
}

.btn-filter:active {
  border-color: #ee3643;
}

/* ХЕДЕР */

.header {
  color: #ffffff;

  background-color: #f3f7f8;
}

.header-user-menu {
  width: 100%;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.wrapper {
  width: 940px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper-header {
  padding-top: 47px;
  padding-bottom: 65px;
}

.header-logo {
  margin: 0;
  padding: 0;
  width: 110px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.logo {
  padding-top: 13px;
  padding-bottom: 7px;
}

.inner-header-logo:hover {
  background-color: #ca2c37;
}

.inner-header-logo:active {
  background-color: #ba2732;
}

.header-search {
  position: relative;
  width: 270px;
}

.header-search::after {
  position: absolute;
  left: 17px;
  top: 12px;

  content: "";
  
  width: 18px;
  height: 18px;
  
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-search-input {
  font: inherit;

  margin: 0;
  padding: 12px 10px 12px 48px;
  width: 100%;
  box-sizing: border-box;

  color: #ffffff;

  background-color: #293449;
  border: none;
}

.header-search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.header-search-input:hover {
  font: inherit;

  margin: 0;
  padding: 12px 10px 12px 48px;
  width: 270px;
  box-sizing: border-box;

  color: #ffffff;

  background-color: #212a3a;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 17px 12px;

  border: none;
}

.header-search-input:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: 17px 12px;

  outline: none;
}


.header-btn-users {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;

  list-style: none;
}

.header-btn-bookmarks {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;
  padding-right: 29px;
  color: #ffffff;
}

.header-btn-cart {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;
  padding-right: 26px;
  color: #ffffff;
}

.header-btn-bookmarks:hover,
.header-btn-cart:hover {
  background-color: #212a3a;
}

.header-btn-bookmarks:active,
.header-btn-cart:active{
  opacity: 0.6;
  background-color: #161d29;
}

.header-btn-bookmarks::after {
  position: absolute;
  left: 17px;
  top: 12px;

  content: "";
  
  width: 18px;
  height: 18px;
  
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-btn-bookmarks:hover::after {
  opacity: 1;
}

.header-btn-bookmarks:active::after {
  opacity: 0.3;
}

.header-btn-cart::after {
  position: absolute;
  left: 15px;
  top: 12px;

  content: "";
  
  width: 18px;
  height: 18px;
  
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-btn-bookmarks:hover::after,
.header-btn-cart:hover::after {
  opacity: 1;
}

.header-btn-bookmarks:active::after,
.header-btn-cart:active::after {
  opacity: 0.3;
}

.header-btn-order {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 22px;

  color: #ffffff;

  background-color: #63a63e;
}

.header-btn-order:hover {
  background-color: #5fbb2d;
}

.header-btn-order:active {
  background-color: #518534;
  opacity: 0.5;
}

.btn-users-add {
  background-color: #ee3643;
}

.header-title {
  margin: 3px 71px 0 52px;
  width: 197px;

  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.header-contacts,
.header-btn-login,
.nav {
  list-style: none;
}

.header-contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  width: 270px;

  text-align: center;  
}

.header-tel {
  font-size: 21px;
  line-height: 21px;

  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 9px;
  padding-left: 70px;
  margin-bottom: 3px;

  border: 3px solid #ffffff;
}

.header-tel a {
  position: relative;
  color: #ee3643;
}

.header-tel a::after {
  position: absolute;
  left: -58px;
  top: 2px;

  content: "";
  
  width: 19px;
  height: 19px;
  
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-btn-login {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 69px;
}

.header-btn-login a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-profile-authorization {
  margin-left: 51px;
}

.header-profile-btn {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  display: flex;
  list-style: none;
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.btn-profile {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;

  color: #000000;
}

.btn-profile::after {
  position: absolute;

  content: "";

  top: 13px;
  left: 13px;

  width: 20px;
  height: 17px;

  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-profile:hover::after {
  opacity: 1;
}

.profile-sign-out {
  padding: 14px 10px 14px 36px;
}

.btn-profile-sign-out {
  display: block;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-authorization.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-profile-sign-out:hover {
  opacity: 1;
}


.header-sign-in a {
  position: relative;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 46px;
}

.header-sign-in a::after {
  position: absolute;
  left: 15px;
  top: 13px;

  content: "";
  
  width: 20px;
  height: 17px;
  
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-sign-in a:hover::after {
  opacity: 1;
}

.header-sign-in a:active::after {
  opacity: 0.3;
}

.header-sign-up a {
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 23px;
}

.header-btn-login a:hover {
  color: #ee3643;
}

.header-btn-login a:active {
  opacity: 0.3;
}

.header-btn-login a:active,
.header-profile-authorization a:active {
  color: #000000;
  opacity: 0.3;
}

.header-sign-in {
  margin-right: 10px;
}

.header-profile-info li:nth-child(1) {
  list-style: none;
}

.header-profile-info {
  display: flex;

  margin: 0;
  padding: 0 18px;

  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.header-profile-info li:not(:nth-last-child(1)) {
  margin-right: 30px;
}

.header-profile-info a {
  color: #32425c;
  text-decoration: underline;  
}

.header-profile-info a:hover {
  color: #ee3643;
}

.header-profile-info a:active {
  color: #32425c;
  opacity: 0.3;
}

.main-nav {
  width: 100%;

  font-size: 17px;
  line-height: 17px; 
  
  background-color: #32425c;
}

.nav {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0 22px;
  /*justify-content: space-between;*/
}

.nav a {
  display: block;
  padding-left: 30px;
  padding-right: 31px;
  padding-top: 20px;
  padding-bottom: 23px;

  color: #ffffff;

  background-color: #32425c;
}

.nav a:hover {
  color: #ffffff;

  background-color: #293449;
}

.nav a:active {
  color: #ffffff;
  opacity: 0.5;

  background-color: #1d2739;
}

/* MAIN */

.main {
  padding-top: 53px;
  padding-bottom: 85px;
}

.main-wrapper {
  padding-top: 53px;
  padding-bottom: 85px;
}

.main p {
  font-family: 'PT Sans';
}

.categories {
  margin-bottom: 20px;
}

.categories-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-block {
  position: relative;
  width: 300px;
  height: 123px;
  margin-right: 20px;
}

.categories-block:nth-last-of-type(1) {
  margin-right: 0;
}

.categories-materials {
  background: url("../img/icon-paint-bucket.svg") no-repeat 213px 31px;
  background-color: #ffbf47;
}

.categories-tools {
  background: url("../img/icon-screwdriver.svg") no-repeat 197px 33px;
  background-color: #3bbce3;
}

.categories-technics {
  background: url("../img/icon-tractor.svg") no-repeat 191px 31px;
  background-color: #dc91d8;
}

.categories-title,
.advantages-title {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-left: 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.categories-link,
.advantages-link {
  display: inline-block;
  margin: 12px 0 0 23px;
  padding: 10px 0;
  width: 135px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  
  color: #ffffff; 

  background-color: rgba(0, 0, 0, 0.1);
}

.categories-link:hover,
.advantages-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-link:active,
.advantages-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/*--------------*/

.categories-slider {
  position: relative;
  padding: 22px 25px;
  margin-bottom: 53px;

  width: 570px;

  color: #ffffff;

  transition: background-image 0.5s ease, background-color 0.5s ease;

  background: url("../img/man-perforator.jpg") no-repeat top center;
  background-color: #af9e89;
}

.btn-slider-perf {
  position: absolute;
  left: 25px;
  top: 114px;

  width: 22px;
  height: 40px;

  font-size: 0;
  
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.btn-slider-screwdriver {
  position: absolute;
  right: 20px;
  top: 114px;

  width: 22px;
  height: 40px;

  font-size: 0;
  
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

.btn-slider-perf::before {
  position: absolute;
  left: 270px;
  top: 106px;

  content: "";
  
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  
  background-color: #ffffff;
}

.btn-slider-screwdriver::before {
  position: absolute;
  right: 275px;
  top: 106px;

  content: "";
  
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  
  background-color: #ffffff;
}

.category-perforators:checked ~ .categories-slider .btn-slider-perf::before,
.category-screwdriver:checked ~ .categories-slider .btn-slider-screwdriver::before {
  background-color: red;
}

.categories-slider-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.item-slider-title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-item p {
  margin: 0;
  margin-bottom: 121px;

  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
}

.btn-slider {
  padding: 10px 48px;

  border-radius: 2px;
}

.slider-item {
  display: none;
}

.category-perforators:checked ~ .categories-slider .slide-perforators,
.category-screwdriver:checked ~ .categories-slider .slide-screwdriver {
  display: block;
}

.category-perforators:checked ~ .categories-slider {
  background: url("../img/man-perforator.jpg") no-repeat top center;
  background-color: #af9e89;
}

.category-screwdriver:checked ~ .categories-slider {
  background: url("../img/man-screwdriver.jpg") no-repeat top center;
  background-color: #af9e89;
}

.categories-slider::before,
.categories-slider::after {
  content: "";

  visibility: hidden;
}

.categories-slider::before {
  background-image: url("../img/man-perforator.jpg");
}

.categories-slider::after {
  background-image: url("../img/man-screwdriver.jpg");
}

/*--------------*/

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-block {
  position: relative;
  width: 300px;
  height: 123px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.advantage-discount {
  background: url("../img/icon-full-cart.svg") no-repeat 196px 26px;
  background-color: #8ed78f;
} 

.advantage-delivery {
  background: url("../img/icon-delivery-car.svg") no-repeat 191px 33px;
  background-color: #ffc047;
}

/*-------------*/

.block-title {
  display: flex;
  justify-content: space-between;
  width: 890px;
  padding: 25px;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.block-title .blue-title {
  margin: 0;
  margin-top: 5px;
  margin-left: 3px;

  color: #32425c;
}

.block-btn {
  width: 252px;
}

.popular-products {
  margin-bottom: 22px;
}

.popular-manufacturer {
  margin-bottom: 85px;
}

.manufacturer-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  list-style: none;
}

.manufacturer-item {
  display: flex;
  width: 218px;
  height: 144px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.manufacturer-item:nth-last-of-type(1),
.manufacturer-item:nth-last-of-type(2),
.manufacturer-item:nth-last-of-type(3),
.manufacturer-item:nth-last-of-type(4) {
  margin-bottom: 0;
}

.manufacturer-item-image {
  margin: auto;
}

/*----------*/

.services {
  padding-top: 64px;
  padding-bottom: 100px;
  margin-bottom: 75px;

  background-color: #f4f8f9;
}

.services-description {
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  width: 400px;
}

.services-slider {
  display: flex;
}

.services-slider-menu {
  position: relative;

  padding: 0;
  margin: 0;
  width: 320px;

  list-style: none;
}

.services-slider-menu::after {
  position: absolute;

  content: "";

  left: 230px;
  top: -45px;
  width: 10px;
  height: 279px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slider-list {
  padding: 0;
  margin: 0;
  width: 620px;

  list-style: none;
}

.service-slide {
  display: block;

  padding: 15px 21px 16px 21px;
  width: 198px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;

  cursor: pointer;
}








.main-about-us {
  width: 520px;
  margin-right: 120px;
}

.index-title {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400; 
  text-transform: uppercase;
}

.main-about-us p {
  margin: 0;
  padding: 0;
}

.first-p {
  margin-bottom: 24px;
}

.second-p {
  width: 390px;
  margin-bottom: 21px;
}

.third-p {
  margin: 0;
  padding: 0;
  width: 180px;
  margin-bottom: 31px;
}

.transport-company-list {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  margin-left: 35px;
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.transport-company-list li {
  position: relative;
  margin-bottom: 20px;
}

.transport-company-list li:nth-last-child(1) {
  margin-bottom: 0;
}

.transport-company-list li::after {
  position: absolute;
  left: -35px;
  top: 8px;

  content: "";
  
  width: 25px;
  height: 2px;
  
  background-color: #ee3643;
}

.btn-about-us {
  width: 220px;
}

.main-contacts {
  width: 300px;
}

.inner-main {
  padding-top: 15px;

  font-family: "PT Sans";
  color: #000000;

  background-color: #ffffff;
}

.catalog {
/*  width: 940px;
  margin: 0 auto;
  padding: 0 10px;*/
  margin-bottom: 60px;
}

.catalog-wrapper {
  display: flex;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs li:not(:nth-last-child(1)) {
  margin-right: 40px;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:nth-last-child(1))::after {
 position: absolute;
 content: "";
 
 top: 4px;
 right: -25px;
 
 width: 8px;
 height: 2px;
 
 background-color: #c1c6ce;
 transform: rotate(45deg);
}

.breadcrumbs li:not(:nth-last-child(1))::before {
 position: absolute;
 content: "";
 
 bottom: 7px;
 right: -25px;
 
 width: 8px;
 height: 2px;
 
 background-color: #c1c6ce;
 transform: rotate(-45deg);
}

.breadcrumb-main {
  padding-top: 1px;
}

.breadcrumb-main-item {
  display: block;

  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  color: #000000;
}


.breadcrumbs a:hover,
.breadcrumbs a:active {
  text-decoration: underline;
  color: #ee3643;
}

.inner-title {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;
  margin-bottom: 20px;

  font-family: "Cuprum";
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters {
  width: 220px;
  margin-right: 20px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter-title {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  margin-bottom: 13px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f7f3ec;
}

.filters-group {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  font-size: 15px;
  line-height: 20px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.last-list-filters {
  margin-bottom: 75px;

  border: none;
}


.filters-group legend {
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-price-range {
  padding-top: 34px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;

  background-color: #f7f3ec;  
}

.range-controls {
  position: relative;
  padding: 39px 20px;
  margin-bottom: 10px;

  background-color: #f7f3ec;  
}

.scale {
  width: 180px;
  height: 2px;
  margin: 0 auto;

  background-color: #d7dcde;
}

.bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 29px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 160px;
}

.filter-price-value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.filter-output {
  width: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;

  background-color: #f7f3ec; 
}

.filter-price-value p {
  margin: 0;
  padding: 10px;

  background-color: #ffffff;
}

.filter-checkbox {
  margin: 0;
  padding: 0 24px;
  margin-bottom: 20px;

  list-style: none;
}

.filter-radio {
  margin: 0;
  padding: 0 24px;

  list-style: none;
}

.filter-checkbox li,
.filter-radio li {
  padding: 4px 10px;
}

.filter-checkbox li:not(:nth-last-child(1)),
.filter-radio li:not(:nth-last-child(1)) {
  margin-bottom: 12px; 
}

.filter-checkbox label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  position: absolute;

  content: "";

  left: -34px;
  top: -1px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
} 

.filter-input-checkbox:checked + label::before {
  display: none;
} 

.filter-input-checkbox:checked + label::after {
  position: absolute;

  content: "";

  left: -34px;
  top: -1px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
} 

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover + label::after {
  opacity: 0.4;
}

.filter-input-checkbox:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.filter-radio label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  position: absolute;

  content: "";

  left: -34px;
  top: -3px;
  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
} 

.filter-input-radio:checked + label::after {
  position: absolute;

  content: "";

  left: -26px;
  top: 5px;
  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
} 

.filter-input-radio:hover + label::before {
  border: 4px solid #b5b5b5;
}

.filter-input-radio:hover + label::after {
  background-color: #b5b5b5;
}

.filter-input-radio:disabled + label {
  color: #000000;

  opacity: 0.4;
}



.products {
  display: flex;
  flex-direction: column;
}

.catalog-sorting-container {
  display: flex;
  width: 664px;
  text-transform: uppercase;

  margin: 0;
  padding: 10px 18px;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  
  background-color: #f7f3ec;
}

.sorting-title {
  margin: 0;
  margin-right: 140px;
  padding: 0;
  font-size: 13px;
  font-weight: 400; 
}

.sorting-list,
.arrows-sorting {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sorting-list {
  width: 354px;
  margin-right: 47px;
}

.item-sorting-current  a {
  color: #ee3643;
}

.item-sorting a {
  color: #000000;

  border-bottom: 1px dotted #ee3643; 
}

.item-sorting span {
  opacity: 0.3;
}

.item-sorting span:hover,
.item-sorting-current a:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643; 
  opacity: 1;
}

.item-sorting span:active,
.item-sorting a:active,
.item-sorting-current a:active {
  color: #ee3643;

  border: none;
}

.arrows-sorting {
  padding-top: 3px;
}

.sorting-arrow-top {
  display: block;
  margin-right: 22px;

  border: 10px solid #c5c5c5;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: 0;
}

.sorting-arrow-bottom {
  display: block;
  border: 10px solid #c5c5c5;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-width: 0;
}

.sorting-current {
  display: block;
  margin-right: 22px;

  border: 10px solid #ee3643;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: 0;
}


.list-products {
  margin: 0;
  padding: 0;
  margin-bottom: 52px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.product-item:nth-last-of-type(1),
.product-item:nth-last-of-type(2),
.product-item:nth-last-of-type(3) {
  margin-bottom: 0;
}

.product-item-image {
  margin-bottom: 7px;
}

.product-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 30px;
  text-align: center;
}

.product-title a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-btn-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 42px 0;
  
  background-color: rgba(255,255,255,1);
}

.old-price {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  font-weight: 700; 
}

.price {
  position: relative;
  width: 75px;
  margin: 0px auto;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  text-align: center;
  font-size: 17px;
  line-height: 18px; 
  font-weight: 700;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -25px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.product-btn-actions {
  display: none;
}

.product-item:hover .product-btn-actions {
  display: flex;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  z-index: 1;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.flag-new-categories {
  top: 0px;
  right: 0px;
}


.product-btn-buy {
  position: relative;
  margin-bottom: 11px;
  padding: 10px 47px 7px;
  cursor: pointer;

  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #63a63e;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 0px 0px #367315;
}

.product-btn-buy::after {
  position: absolute;
  left: 14px;
  top: 11px;

  content: "";
  
  width: 15px;
  height: 15px;
  
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.product-btn-bookmarks {
  padding: 8px 31px 6px;
  cursor: pointer;

  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;
  text-align: center;

  background-color: transparent;
  border-radius: 4px;
  border: 3px solid #63a63e;
}

.product-btn-buy:hover {
  background-color: #5fbb2d;
}

.product-btn-buy:active {
  background-color: #518534;
}



.product-item:hover { 
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.product-btn-buy:hover::after,
.product-btn-buy:active::after {
  opacity: 1;
}

.product-btn-bookmarks:hover {
  border: 3px solid #32425c;
}

.product-btn-bookmarks:active {
  border: 3px solid #c1c6ce;
  opacity: 0.3;
}

.list-products li:nth-child(3n) {
  margin-right: 0px;
}

.index-list-poducts {
  margin-bottom: 0;
  width: 940px;
  font-family: "PT Sans";
}

.index-list-poducts li:nth-child(3n) {
  margin-right: 20px;
}

.index-list-poducts li:nth-child(4n) {
  margin-right: 0px;
}

.product-item-index {
  margin-bottom: 0;
}




.list-pag {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-pag {
  display: block;
  padding: 8px 14px;
  margin-right: 10px;

  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #e5e5e5;
  border-radius: 4px;

  background-color: transparent;
}

.btn-pag-current {
  border: none;
  padding: 10px 16px;
  color: #ffffff;
  background-color: #ee3643;
}

.btn-pag-next {
  padding: 8px 31px;
  margin-right: 0;
}

.btn-pag:hover {
  border-color: #bdc6ca;  
}

.btn-pag:active {
  border-color: #ee3643;
}

.category-description {
  padding-top: 64px;
  padding-bottom: 68px;
  background-color: #f2f6f8;
}

.category-description h2 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum";
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.paragraph-descrition {
  margin: 0;
  padding: 0;
}

.inner-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* FOOTER */

.footer {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;

  background-color: #32425c;
}

.footer-top {
  margin-bottom: 50px;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer-logo {
  margin-bottom: 26px;

  box-shadow: 0px 5px 0px 0px #b52933;
}

.footer-logo-contacts {
  width: 330px;
  margin-right: 60px;
}

.footer-site-nav a {
  color: #ffffff;
}

.footer-products-nav a {
  color: #ffd180;
}

.footer-site-nav a:hover,
.footer-products-nav a:hover {
  text-decoration: underline;
}

.footer-site-nav a:active,
.footer-products-nav a:active {
  opacity: 0.5;
}

.footer-nav {
  width: 550px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav .footer-site-nav {
  margin-bottom: 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav .footer-products-nav {
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 35px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .footer-copyright {
  margin-right: 165px;
  width: 227px;
}

.footer-bottom .footer-social {
  margin-right: 120px;
  width: 128px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.footer-social,
.site-developer {
  list-style: none;
}

.footer-social a {
  color: #ffffff;
  margin-right: 4px;
  margin-bottom: 4px;

  background-color: #212a3a;
}

.footer-social li:nth-child(3n) a {
  margin-right: 0;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.footer-btn-vk {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.footer-btn-vk::after {
  position: absolute;
  left: 7px;
  top: 13px;

  content: "";
  
  width: 26px;
  height: 15px;
  
  background-image: url("../img/icon-footer-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-btn-fb {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.footer-btn-fb::after {
  position: absolute;
  left: 14px;
  top: 9px;

  content: "";
  
  width: 12px;
  height: 22px;
  
  background-image: url("../img/icon-footer-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-btn-instagram {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.footer-btn-instagram::after {
  position: absolute;
  left: 10px;
  top: 10px;

  content: "";
  
  width: 21px;
  height: 21px;
  
  background-image: url("../img/icon-footer-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-developer {
  display: flex;
}

.site-developer li {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.site-developer li:nth-last-child(1) {
  margin-right: 0;
}

.site-developer a {
  color: #ffd180;
}

.site-developer a:hover {
  text-decoration: underline;
}

.site-developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/* МОДАЛЬНЫЕ ОКНА */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;

  color: #000000;
  font-size: 18px;
  line-height: 18px;

  z-index: 3;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-write-us,
.modal-cart,
.modal-bookmark {
  width: 620px;
  top: 120px;
  left: 50%;
  margin-left: -310px;

  display: none;

  border-top: 7px solid #ff5358;
}

.modal-map {
  width: 940px;
  height: 446px;

  top: 120px;
  left: 50%;
  margin-left: -470px;

  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;


  background-color: rgba(0, 0, 0, 0.5);
}


.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-write-us input {
  border: 2px solid #dee3e4;
}

.modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 50px;
}

.modal-item {
  width: 220px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-right: 20px;

}

.modal-item input {
  font: inherit;
  font-family: 'PT Sans';
  font-size: 13px;

  margin: 0;
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;

  color: #000000;
  background-color: transparent;
  border: 2px solid #dee3e4;
}

.modal-item:nth-child(2) {
  margin-right: 0;
}

.modal-item-textarea {
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
}

.modal-item-textarea textarea {
  font: inherit;
  font-family: 'PT Sans';
  font-size: 13px;

  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;

  color: #000000;
  background-color: transparent;
  border: 2px solid #dee3e4;
}

.modal-write-us-footer {
  padding: 37px 0;

  background-color: #f4f4f4;
}

.btn-wrapper {
  width: 100%;
}

.modal-footer-wrapper {
  display: flex;
  width: 460px;
  margin: 0 auto;
}

.modal-cart-heading,
.modal-bookmark-heading {
  padding: 68px 0;
  padding-left: 50px;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.modal-cart-heading::after,
.modal-bookmark-heading::after {
  position: absolute;
  left: 80px;
  top: 50px;

  content: "";
  
  width: 66px;
  height: 66px;
  
  background-image: url("../img/cart-item-add.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-btn-order,
.modal-btn-bookmark {
  width: 140px;
  margin-right: 20px;
}

.btn-next {
  width: 220px;
  background-color: #ffffff;
  color: #000000;
}

.btn-next:hover {
  /*width: 220px;*/
  background-color: #ffffff;
  color: #ff5358;
}

.modal-close {
  position: absolute;
  width: 23px;
  height: 23px;

  top: 9px;
  right: 9px;

  font-size: 0;
  border: 0;
  background-color: transparent;

  background-image: url("../img/icon-red-chest.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 2;

  cursor: pointer;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-show-overlay {
  display: block;
}

